@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('./AppleSDGothicNeoB.ttf');
}
@font-face {
  font-family: 'AppleSDGothicNeoEB';
  src: url('./AppleSDGothicNeoEB.ttf');
}
@font-face {
  font-family: 'AppleSDGothicNeoH';
  src: url('./AppleSDGothicNeoH.ttf');
}
@font-face {
  font-family: 'AppleSDGothicNeoL';
  src: url('./AppleSDGothicNeoL.ttf');
}
@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('./AppleSDGothicNeoM.ttf');
}